body{
    background-color: #ea7317 ;
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cat{
    background-color: #06d6a0;
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #ea7317;
    flex: 1;
}

@media (min-width : 960px){
    .cats{
        display: flex;
    }
}

fieldset{
    margin: 1em;
    border: 0;
}
 button{
    padding: 1em;
    border: 3px solid;
    border-radius: 0.5em;
 }
 input{
    padding: 1em;
 }